
body {
    background-color:white;
}
header {
    background-color: rgb(220, 220, 220);
}
#header-wrap {
    margin: 0 auto 0 auto;
    width: 960px;
    padding: 10px 0 10px 0;
}
#logo {
    float: left;
    margin: 0 0 0 0;
}
nav ul {
    display: inline-block;
    width: 709px;
    height: auto;
    padding: 25.5px;

}
nav ul li {
    display: inline;
    margin: 0 80px 0 0;    
}
nav ul li a {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: gray;
}
main {
    margin: 0 auto 0 auto;
    width: 960px;
}
#hero-image {
    background-color: green;
    padding: 0;
    height: 450px;
    width: 960px;
    margin: 30px 0 0 0;
}
#sub-banner-left {
    display: inline-block;
    margin: 30px 0px 0 0;
    height: 375px;
    width: 300px;
}
#sub-banner-center {
    display: inline-block;
    margin: 30px 26px 0 26px;
    height: 375px;
    width: 300px;
}
#sub-banner-right {
    display: inline-block;
    margin: 30px 0 0 0;
    height: 375px;
    width: 300px;
}
#featured-section-banner {
    margin: 26px 26px 0 0;
    display: inline-block;
    height: 400px;
    width: 480px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold, serif;
}
p {
    font-family: Times;
    font-size: 1.2em;
    line-height: 124%;
}
#featured-section-article {
    margin: 0 0 0 0;
    display: inline-block;
    height: 400px;
    width: 450px;
    overflow-y: scroll;
}
button {
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold, serif;
    background-color: rgb(220, 220, 220);
    height: 50px;
    width: 250px;
}
button:hover {
    background-color: rgb(185, 185, 185);
    color: rgb(50, 50, 50);
}
footer {
    margin: 26px 0 0 0;
    background-color: rgb(220, 220, 220);
    height: 100px;
    width: auto;
}